.git
.gitignore
.idea
.vscode
__pycache__/

venv/
.env/
*.env

*.log
logs/
*.pid
*.seed

*.swp
*.bak
*.tmp
*.temp

*.pyc
*.pyo
*.pyd

tests/__pycache__/

.DS_Store
Thumbs.db
ehthumbs.db
